@import "tailwindcss";

:root {
    font-family: Arial, Helvetica, sans-serif;
    color: #0f172a;
    background: #f4f7fb;
}


@layer{
    
    .tbProduto{
        @apply table-auto border-collapse border border-gray-800 mx-auto w-[50%];
        & th,td{
            @apply border border-gray-800;
        }

        & td{
            @apply text-center;
        }


    }
    
    .acoes a svg{
            @apply inline;
    }
}